<div class="container">
  <form class="form-horizontal" autocomplete="off" action="{{ model.form_action }}" method="post">
    <input type="hidden" name="session_id" value="{{ model.session_id }}" />
    <div class="row">
      <div class="form-card-brands col-sm-4 col-sm-push-8 col-xs-12 text-center-xs">
        {% for method in model.card_payment_methods %}
          <img class="card-brand" src="{{ method.image_path }}" alt="{{ method.nice_name }}" title="{{ method.nice_name }}" data-card-brand-logo="{{ method.name }}" />
        {% endfor %}
      </div>

      <div class="col-sm-8 col-sm-pull-4 col-xs-12">
        {% if model.options.enable_card_holder_field %}
          <div class="form-group">
            <div class="col-xs-12">
              <label for="card_holder" class="control-label">{{ lang.form.card.card_holder }}</label>
              <input type="text" id="card_holder" name="card_holder" class="form-control" autocomplete="on" autofocus="autofocus">
            </div>
          </div>
        {% endif %}

        <div class="form-group has-feedback">
          <div class="col-xs-12">
            <label for="cardnumber" class="control-label">{{ lang.form.card.card_number }}</label>
            <input type="text" id="cardnumber" name="cardnumber" class="form-control" autocomplete="on" autofocus="autofocus" aria-describedby="cardnumberSuccess" pattern="[0-9]*">
            <span id="cardnumber-check" class="fa fa-fw fa-check form-control-feedback" aria-hidden="true" style="display: none"></span>
            <span id="cardnumber-sr" class="sr-only">(success)</span>
          </div>
        </div>

        <div class="form-group has-feedback">
          <label class="col-sm-6 col-xs-6" for="expiration-month" class="control-label" style="margin-bottom: 0px !important">{{ lang.form.card.expiration }}</label>
          <div class="col-sm-6 col-xs-6"><label for="cvd" class="control-label" style="margin-bottom: 0px !important">{{ lang.form.card.card_verification_data }}</label> <i class="fa fa-fw fa-question-circle clickable" data-toggle="#cvv-help"></i></div>

          <div class="col-sm-3 col-xs-3" style="padding-right: 2px;">
            <input type="text" id="expiration-month" name="expiration[month]" class="form-control" aria-describedby="expiration-month-sr" placeholder="MM" maxlength="2" pattern="[0-9]*" style="padding-right: 28px !important; margin-right: 30px !important">
            <span id="expiration-month-check" class="fa fa-fw fa-check form-control-feedback" aria-hidden="true" style="right: 2.5px; display:none;"></span>
            <span id="expiration-month-sr" class="sr-only">(success)</span>
          </div>

          <div class="col-sm-3 col-xs-3" style="padding-left: 2px;">
            <input type="text" id="expiration-year" name="expiration[year]" class="form-control" aria-describedby="expiration-year-sr" placeholder="YY" maxlength="2" pattern="[0-9]*" style="padding-right: 28px !important">
            <span id="expiration-year-check" class="fa fa-fw fa-check form-control-feedback" aria-hidden="true" style="display: none"></span>
            <span id="expiration-year-sr" class="sr-only">(success)</span>
          </div>

          <div class="col-sm-6 col-xs-6">
            <input type="text" id="cvd" name="cvd" class="form-control" aria-describedby="cvd" maxlength="4" pattern="[0-9]*">
            <span id="cvd-check" class="fa fa-fw fa-check form-control-feedback" aria-hidden="true" style="display: none"></span>
            <span id="cvd-sr" class="sr-only">(success)</span>
          </div>
        </div>

        <div id="cvv-help" class="text-center bubble bubble-cvv"><img src="{{ images.cvv_help.png }}"></div>

        {% if model.options.enable_3d_card_field or true %}
          <div class="form-group" id="3d-field" style="display: none">
            <div class="col-xs-12">
              <div class="checkbox">
                <label><input type="checkbox" id="3d" name="3d" value="1"> <strong>{{ lang.form.card.enable_3d }}</strong></label> <i class="fa fa-question-circle clickable" data-toggle="#three-d-help"></i>
              </div>
            </div>
          </div>

          <div id="three-d-help" class="bubble bubble-three-d">
            {{ lang.form.card.3d_explained }}
          </div>
        {% endif %}

        <div class="form-group">
          <div class="col-xs-12">
            <button type="submit" class="btn btn-info"></i>{{ lang.form.card.submit_payment }} {{ model.currency }} {{ model.amount | currency: lang }}</button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
