<form class="form-horizontal" autocomplete="on" action="{{ model.form_action }}" method="post">
  <input type="hidden" name="session_id" value="{{ model.session_id }}" />
  <div>
    <div class="card-info">
      <h4>{% t Pay with card %}</h4>
      <div class="form-card-brands">
        {% for method in model.card_payment_methods %}
          <img
            class="card-brand"
            src="{{ method.image_path }}"
            alt="{{ method.nice_name }}"
            title="{{ method.nice_name }}"
            data-card-brand-logo="{{ method.name }}" />
        {% endfor %}
      </div>
    </div>

    {% if config.enable_card_holder_field %}
      {% unless model.moto %}
        <div class="form-group">
          <div class="col-xs-12">
            <label for="cardholder">{% t Name on card %}</label>
            <input
              type="text"
              id="cardholder"
              name="cardholder"
              class="form-control"
              maxlength="44"
              autocomplete="cc-name"
              autofocus="autofocus"
              {% if config.enable_prefill_name %}
                value="{{ model.name_on_card }}"
              {% endif %}>
          </div>
        </div>
      {% endunless %}
    {% endif %}

    <div class="form-group">
      <div class="col-xs-12">
        <label for="cardnumber">{% t Card number %}</label>
        <input
          type="tel"
          id="cardnumber"
          name="cardnumber"
          class="form-control"
          autocomplete="cc-number"
          {% unless config.enable_card_holder_field %}
            autofocus="autofocus"
          {% endunless %}
          aria-describedby="cardnumberSuccess"
          pattern="[0-9\s]*"
          data-mask="#"
          inputmode="numeric">
        <span id="cardnumber-check" class="form-control-feedback" aria-hidden="true" style="display: none">
          <img class="check-icon" src="{{ images.check.svg }}" alt="Checkmark">
        </span>
        <span id="cardnumber-sr" class="sr-only">(success)</span>
      </div>
    </div>

    <div id="brand-selector" class="form-group" style="display: none;">
      <div class="col-xs-12">
        <label>{% t Card type %}:</label>
        <img
          class="icon icon-info clickable"
          src="{{ images.question-circle.svg }}"
          alt="tooltip"
          data-toggle="#cardbrand-help">
        <div class="inline-option">
          <input type="radio" name="brand" id="cardbrandVisa" value="visa">
          <label for="cardbrandVisa">Visa</label>
        </div>
        <div class="inline-option">
          <input type="radio" name="brand" id="cardbrandDankort" value="dankort">
          <label for="cardbrandDankort">Dankort</label>
        </div>
        <div id="cardbrand-help" class="bubble bubble-cardbrand">
          <p>{% t Choose whether to use Visa or Dankort to complete the transaction with your Visa/Dankort card. %}</p>
        </div>
      </div>
    </div>

    <div class="form-group">
      <div class="col-xs-6">
        <div>
          <label for="expiration-month">{% t Expiration date %}</label>
        </div>
        <div class="col-xs-6 expiration-month-col">
          <input
            type="tel"
            id="expiration-month"
            name="expiration[month]"
            class="form-control"
            autocomplete="cc-exp-month"
            aria-describedby="expiration-month-sr"
            placeholder="MM"
            maxlength="2"
            pattern="[0-9]*"
            data-mask="99"
            inputmode="numeric">
          <span id="expiration-month-check" class="form-control-feedback" aria-hidden="true" style="display: none">
            <img class="check-icon" src="{{ images.check.svg }}" alt="Checkmark">
          </span>
          <span id="expiration-month-sr" class="sr-only">(success)</span>
        </div>

        <div class="col-xs-6 expiration-year-col">
          <input
            type="tel"
            id="expiration-year"
            name="expiration[year]"
            class="form-control"
            autocomplete="cc-exp-year"
            aria-describedby="expiration-year-sr"
            placeholder="YY"
            maxlength="2"
            pattern="[0-9]*"
            data-mask="99"
            inputmode="numeric">
          <span id="expiration-year-check" class="form-control-feedback" aria-hidden="true" style="display: none">
            <img class="check-icon" src="{{ images.check.svg }}" alt="Checkmark">
          </span>
          <span id="expiration-year-sr" class="sr-only">(success)</span>
        </div>
      </div>

      <div class="col-xs-6">
        {% unless model.moto %}
          <label for="cvd" id="cvd-label">CVV/CVD</label>
          <img
            class="icon icon-info clickable"
            src="{{ images.question-circle.svg }}"
            alt="CVV/CVD"
            data-toggle="#cvd-help">
          <input
            type="tel"
            id="cvd"
            name="cvd"
            class="form-control"
            autocomplete="cc-csc"
            aria-describedby="cvd"
            maxlength="4"
            pattern="[0-9]*"
            data-mask="9999"
            inputmode="numeric">
          <span id="cvd-check" class="form-control-feedback" aria-hidden="true" style="display: none">
            <img class="check-icon" src="{{ images.check.svg }}" alt="Checkmark">
          </span>
          <span id="cvd-sr" class="sr-only">(success)</span>
        {% endunless %}
      </div>
    </div>

    <div id="cvd-help" class="bubble bubble-cvd">
      <p>{% t The CVV/CVD increases the level of security. Usually the card verification data is a three digit number, placed at the backside of the card. %}</p>
      <img src="{{ images.cvd_help.png }}">
    </div>

    {% if config.enable_3d_card_field %}
      <div class="form-group" id="3d-field" style="display: none">
        <div class="col-xs-12">
          <input type="checkbox" id="3d" name="3d" value="1">  
          <label for="3d">
            <strong>{% t Enable 3D Secure %}</strong>
          </label>
          <img class="icon icon-info clickable" src="{{ images.question-circle.svg }}" alt="CVV/CVD" data-toggle="#three-d-help">
        </div>
      </div>
      <div id="three-d-help" class="bubble bubble-three-d">
        <p>{% t 3D Secure is a 2 step verification service using a text message to your phone. %}</p>
        <p>{% t Your credit card issuer may require you to use 3D Secure as an extra precaution. %}</p>
      </div>
    {% endif %}

    <div class="form-group">
      <div class="col-xs-12">
        {% capture button_text %}
          {% if model.transaction_type == "payment" %}
            {% t Pay %}
            <span id="total-field">{{ model.formatted_amount }} {{ model.currency }}</span>
          {% elsif model.transaction_type == "subscription" %}
            {% t Create subscription %}
            {% if config.enable_amount_for_subscription %}
              <span id="total-field">
                ({{ model.formatted_amount }} {{ model.currency }})</span>
            {% endif %}
          {% elsif model.transaction_type == "card" %}
            {% t Save card %}
          {% elsif model.transaction_type == "payout" %}
            {% t Receive %}
            <span id="total-field">{{ model.formatted_amount }} {{ model.currency }}</span>
          {% endif %}
        {% endcapture %}
        <button type="submit" class="btn btn-primary" data-card-valid-swap="btn-success,btn-primary">
          {{ button_text }}
        </button>
        {% if model.calculate_fee %}
          <p id="fee">
            {% t Payment fee %}:
            <span id="fee-field">
              <i>{% t Fill in card number %}</i>
            </span>
          </p>
        {% endif %}
        {% if model.calculate_fee and config.reservation_notice %}
          <hr/>
        {% endif %}
        {% if config.reservation_notice %}
          <div id="reservation-notice">{{ config.reservation_notice }}</div>
        {% endif %}
      </div>
    </div>
  </div>
</form>