<div id="payment_details" class="col-md-8">
  <p class="help">{{ lang.form.mobilepay.help }}</p>
  <form action="{{ model.redirect_url }}" method="POST" target="_top" class="autoubmit">
    <input type="hidden" name="SessionToken" value="{{ model.session_token }}" />
    {% if model.phone_number %}
      <input type="hidden" name="PhoneNumber" value="{{ model.phone_number }}" />
    {% endif %}
    <input type="submit" name="send" value="{{ lang.form.mobilepay.submit }}" />
  </form>
</div>
