<div class="container">
  {% if model.sofort_has_bank? %}
    <form action="{{ model.form_action }}" method="POST" class="autosubmit">
      {% for field in model.sofort_form_fields %}
        <input type="hidden" name="{{ field[0] }}" value="{{ field[1] }}">
      {% endfor %}
      <div class="text-center">
        <img src="/assets/v2/images/brands/ideal.svg" alt="iDeal logo">
      </div>
      <div>
        <p>{% t When you click the button below, the iDeal payment window will open. %}</p>
        <p>{% t When finished, you will be redirected back to your receipt. %}</p>
        <button type="submit" class="btn btn-primary">{% t Proceed to payment %}</button>
      </div>
    </form>
  {% else %}
    <form action="{{ model.form_action }}" method="POST">
      <div class="text-center">
        <img src="/assets/v2/images/brands/ideal.svg" alt="iDeal logo">
      </div>
      <div>
        <div>
          <label for="sender_bank">{% t Bank %}</label>
          <select id="sender_bank" class="form-control" name="sender_bank">
            {% for bank in model.sofort_ideal_banks %}
              <option value="{{ bank.code }}">{{ bank.name }}</option>
            {% endfor %}
          </select>
        </div>
        <button type="submit" class="btn btn-primary">{% t Proceed %}</button>
      </div>
    </form>
  {% endif %}
</div>
