<div id="header">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 text-center-xs">
        {% if model.logo_url %}
          <img id="merchant-logo" class="" src="{{ model.logo_url }}" alt="{{ model.displayname }}">
        {% else %}
          <h1 id="merchant-name" class="text-center-xs">{{ model.displayname }}</h1>
        {% endif %}
      </div>
    </div>
    {% include "order_info" %}
  </div>
</div>

{% include "content" %}

{% if model.show_cancel? %}
<div class="container">
  <div class="row">
    <div class="col-sm-12 col-xs-12">
      <a class="btn btn-default btn-cancel center-xy" href="/{{ model.session_id }}/cancel-payment" data-confirm="{% t You are about to abort the payment. Are you sure? %}"><img class="icon icon-ban" src="{{ images.ban.svg }}" alt="Cancel">{% t Cancel Payment %}</a>
    </div>
  </div>
</div>
{% endif %}

<div id="footer">
  <div id="gateway-info">
    <div id="gateway-info-inner">
      <div class="container">
        <div class="row">
          <div class="col-xs-12" style="text-align: center">
            <button class="btn btn-default" data-hide="#gateway-info"><img class="icon" src="{{ images.arrow-down.svg }}" alt="Close"></button>
          </div>
        </div>
        <div id="gateway-description" class="row">
          <div class="col-sm-6 col-xs-12">
            <p>QuickPay is your secure, reliable and dynamic payment service provider. Learn more about our services at <a href="https://www.quickpay.net">www.quickpay.net</a>.</p>
          </div>
          <div class="col-sm-6 col-xs-12">
            <p>QuickPay operates at the highest level of security and is certified by the PCI Security Standards Council.</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="language-selector">
    <div id="language-selector-inner">
      <div class="container">
        <div class="row">
          <div class="col-xs-12" style="text-align: center">
            <button class="btn btn-default" data-hide="#language-selector"><img class="icon" src="{{ images.arrow-down.svg }}" alt="Close"></button>
          </div>
        </div>
        <div id="language-list" class="row">

          <div class="col-sm-3 col-xs-4"><a href="/{{ model.session_id }}/update-language?language=bg">български</a></div>
          <div class="col-sm-3 col-xs-4"><a href="/{{ model.session_id }}/update-language?language=da">Dansk</a></div>
          <div class="col-sm-3 col-xs-4"><a href="/{{ model.session_id }}/update-language?language=de">Deutsch</a></div>
          <div class="col-sm-3 col-xs-4"><a href="/{{ model.session_id }}/update-language?language=el">Ελληνικά</a></div>
          <div class="col-sm-3 col-xs-4"><a href="/{{ model.session_id }}/update-language?language=en">English</a></div>
          <div class="col-sm-3 col-xs-4"><a href="/{{ model.session_id }}/update-language?language=es">Español</a></div>
          <div class="col-sm-3 col-xs-4"><a href="/{{ model.session_id }}/update-language?language=et">Eesti keel</a></div>
          <div class="col-sm-3 col-xs-4"><a href="/{{ model.session_id }}/update-language?language=fi">Suomalainen</a></div>
          <div class="col-sm-3 col-xs-4"><a href="/{{ model.session_id }}/update-language?language=fo">Føroyskt</a></div>
          <div class="col-sm-3 col-xs-4"><a href="/{{ model.session_id }}/update-language?language=fr">Français</a></div>
          <div class="col-sm-3 col-xs-4"><a href="/{{ model.session_id }}/update-language?language=hr">Hrvatski</a></div>
          <div class="col-sm-3 col-xs-4"><a href="/{{ model.session_id }}/update-language?language=hu">Magyar</a></div>
          <div class="col-sm-3 col-xs-4"><a href="/{{ model.session_id }}/update-language?language=is">Íslensku</a></div>
          <div class="col-sm-3 col-xs-4"><a href="/{{ model.session_id }}/update-language?language=it">Italiano</a></div>
          <div class="col-sm-3 col-xs-4"><a href="/{{ model.session_id }}/update-language?language=ja">日本語</a></div>
          <div class="col-sm-3 col-xs-4"><a href="/{{ model.session_id }}/update-language?language=kl">Kalaallisut</a></div>
          <div class="col-sm-3 col-xs-4"><a href="/{{ model.session_id }}/update-language?language=ko">한국어</a></div>
          <div class="col-sm-3 col-xs-4"><a href="/{{ model.session_id }}/update-language?language=lt">Lietuviškai</a></div>
          <div class="col-sm-3 col-xs-4"><a href="/{{ model.session_id }}/update-language?language=nl">Nederlands</a></div>
          <div class="col-sm-3 col-xs-4"><a href="/{{ model.session_id }}/update-language?language=no">Norsk</a></div>
          <div class="col-sm-3 col-xs-4"><a href="/{{ model.session_id }}/update-language?language=pl">Polskie</a></div>
          <div class="col-sm-3 col-xs-4"><a href="/{{ model.session_id }}/update-language?language=pt">Português</a></div>
          <div class="col-sm-3 col-xs-4"><a href="/{{ model.session_id }}/update-language?language=ro">Română</a></div>
          <div class="col-sm-3 col-xs-4"><a href="/{{ model.session_id }}/update-language?language=ru">Pусский</a></div>
          <div class="col-sm-3 col-xs-4"><a href="/{{ model.session_id }}/update-language?language=sk">Slovenský</a></div>
          <div class="col-sm-3 col-xs-4"><a href="/{{ model.session_id }}/update-language?language=sl">Slovenščina</a></div>
          <div class="col-sm-3 col-xs-4"><a href="/{{ model.session_id }}/update-language?language=sr">Српски</a></div>
          <div class="col-sm-3 col-xs-4"><a href="/{{ model.session_id }}/update-language?language=sv">Svenska</a></div>
          <div class="col-sm-3 col-xs-4"><a href="/{{ model.session_id }}/update-language?language=tr">Türk</a></div>
          <div class="col-sm-3 col-xs-4"><a href="/{{ model.session_id }}/update-language?language=uk">Українська</a></div>
          <div class="col-sm-3 col-xs-4"><a href="/{{ model.session_id }}/update-language?language=zh">中文</a></div>
        </div>
      </div>
    </div>
  </div>

  <div id="bottom-bar">
    <div class="container">
      <div class="row">
        <div class="col-xs-6">
          <img class="clickable" src="{{ images.quickpay_logo_inverse.png }}" data-toggle="#gateway-info" alt="About QuickPay">
        </div>
        <div class="col-xs-6 text-right">
          <span class="center-y text-right">
            <img class="icon clickable" src="{{ images.lock.svg }}" alt="About QuickPay" data-toggle="#gateway-info" data-hide="#language-selector"> <span class="clickable" data-toggle="#gateway-info" data-hide="#language-selector">Secure</span>
            &nbsp;&nbsp;
            <img class="icon clickable" src="{{ images.globe.svg }}" alt="About QuickPay" data-toggle="#language-selector" data-hide="#gateway-info"> <span class="clickable" data-toggle="#language-selector" data-hide="#gateway-info">{{ model.language | upcase }}</span>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
