<div class="wrapper">
  <div class="payment-container">
    <div class="header">
      {% if model.logo_url %}
        <div class="header-content-logo">
          <div class="logo-container"> 
            <img id="merchant-logo" src="{{ model.logo_url }}" alt="{{ model.displayname }}">
          </div> 
          <div>
            <h1 id="merchant-name">{{ model.displayname }}</h1>
            {% include "order_info" %}
          </div>
        </div>
      {% else %}
        <div class="header-content text-center-xs">
          <h1 id="merchant-name">{{ model.displayname }}</h1>
          {% include "order_info" %}
        </div>
      {% endif %}
    </div>
    <div class="content-container">
      {% include "content" %}
    </div>
  </div>

  {% unless model.alternative_payment_methods == empty and model.undo_payment_method? == false %}
    <div class="alternative-payment-methods">
      <div class="text-center">
        <h4>{% t Other Payment Methods %}</h4>
      </div>
      {% if model.undo_payment_method? %}
        <div class="col-sm-4 col-xs-6 payment-method">
          <a href="{{ model.session_id }}/payment-method-undo/" class="btn">
            <img src="/assets/v2/images/brands/card.svg" alt="{% t Cards %}" title="{% t Cards %}" />
          </a>
        </div>
      {% endif %}
      {% for method in model.alternative_payment_methods %}
        {% include "payment_methods_list" method=method %}
      {% endfor %}
    </div>
  {% endunless %}

  {% if model.show_cancel? %}
    <div class="cancel-container">
      <a class="btn btn-cancel center-xy" href="/{{ model.session_id }}/cancel-payment" data-confirm="{% t You are about to abort the payment. Are you sure? %}">
        <img class="icon icon-ban" src="{{ images.ban.svg }}" alt="Cancel">{% t Cancel Payment %}
      </a>
    </div>
  {% endif %}
</div>

{% include "footer" %}