<div id="alternative-payment-methods" class="well-blueish-xs well-blueish-sm well-xs well-sm">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 text-center-xs">
        <h3>Select Payment Method</h3>
      </div>
      <div class="text-center">
        {% for method in model.payment_methods %}
          <div class="col-sm-4 col-xs-6 payment-method">
            <a href="{{ model.session_id }}/payment-method/{{ method.name }}" class="btn btn-default">
              <img src="{{ method.image_path }}" alt="{{ method.nice_name }}" title="{{ method.nice_name }}"/>
            </a>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
