<div class="well-sm well-xs well-blueish-xs well-blueish-sm">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12 text-center">
        <h3>Select payment method</h3>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 text-center">
        {% for method in model.payment_methods %}
          <div class="col-sm-4 col-xs-6 payment-method">
            <a href="{{ model.session_id }}/payment-method/{{ method.name }}" class="btn btn-default">
              <img src="{{ method.image_path }}" alt="{{ method.nice_name }}" title="{{ method.nice_name }}"/>
            </a>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
