<div id="payment_details" class="col-md-8">
  <div id="waiting" data-session-id="{{ model.session_id }}">
    <p class="help">{{ lang.waiting.help }}</p>
    <img src="{{ images.loader.gif }}" />
    <p>
      <a href="/{{ model.session_id }}/waiting">
        {{ lang.waiting.refresh }}
      </a>
    </p>
  </div>
</div>
